@charset "utf-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
	background-color: #00bfff;
	 }


.main-wrapper {
	width: 1200px;
	height: auto;
	margin: auto;
}
/*
.header-wrapper{
	width: 1200px;
	height: auto;
	background: #ffffcc;
	

}*/

#navbar{
	width: 1200px;
	height: 50px;
	background: #00bfff;
	color: #000;
}


#menu{
	padding: 0px;
	line-height: 6px;
	margin-top: 20px;
	float: left;
}

   #menu li {
   	list-style: none;
   	display: inline;
   }

   #menu a 
   {
   	color: #000;
   	text-decoration: none;
   	font-size: 18px;
   	margin: 3px;
   	padding: 10px;
   }

   #menu a:hover {
   	text-decoration: underline;
   	color: #000;
   	font-weight: bolder;
   }

/*
   #form {
   	float: right;
   	padding-top: 7px;
   	line-height: 30px;
   	padding-right : 5px;
   }
*/
.content_wrapper {
	width: 1200px;
	height: auto;
	background: #F96;
}

#right_content {
	width: 950px;
	height : 2000px;
	background: #FCC;
	float: right;
}

#left_sidebar{
	width: 250px;
	height: 2000px;
	background: #b3e6ff;
	float: left;
}

.footer {
	width: 1200px;
	height: 50px;
	background: #999;
	color: #FFF;
	clear: both;
}

#sidebar_title {
	background-color: #e1e1ea ;
	color: #000;
	padding: 10px;
	font-size: 20px;
	font-family: "palatino linotype" , "book antique" , palatino , serif;
}

  #cats {
  	  	text-align: left;
        padding: 5px;

  }
    #cats li {list-style: none;
    	margin: 1px; }
    #cats a {color: #000;
    	font-size: 15px;
    	text-decoration: none;
    	margin: 1px; 
        font-weight: bold;}
    #cats a:hover{color: #000;text-decoration: underline;font-weight: bold;}

    #brands {
  	  	text-align: left;
        padding: 5px;

    }
    #brands li {list-style: none;
    	margin: 1px; }
    #brands a {color: #000;
    	font-size: 15px;
    	text-decoration: none;
    	margin: 1px; 
        font-weight: bold;}
    #brands a:hover{color: #000;text-decoration: underline;font-weight: bold;}

